# Vim related
# Ignore all files in the undodir
vim/undodir/*
vim/.netrwhist

# Ignore yankring file
yankring_history*

# Ignore vim/doc/tags
vim/doc/tags

.netrwhist
*.swp
*~

#########################################

# Xmonad
# Ignore the xmonad binary
xmonad/xmonad-x86_64-linux
xmonad/xmonad.o
xmonad/xmonad.hi

